# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
/customer-info-api/target/
/customer-info-model/target/
/customer-info-service/target/
/customer-info-api/customer-info-api.iml
/customer-info-model/customer-info-model.iml
/customer-info-service/customer-info-service.iml
/spring-boot-maven-multi-module-n-layered.iml
